<!DOCTYPE html>
<html lang="en">
<body>
    <form class="bg-dark text-center">
        <input type="text" (keyup)= "getMovieData($event.target.value)" placeholder="Search the movies here " class="form-control " name="search-bar" id="search-bar">
        <!-- <button class="btn btn-primary">search</button> -->
    </form>

    <div class="container">
        <div *ngFor="let movie of Movies">
            <div class="card bg-dark text-center animate-bottom" style="width:230px;">
                <img src={{movie.Poster}}  class="card-img-top"  >
                <div class="card-body">
                    <h5 class="card-title"> {{movie.Title}} </h5>
                    <p><b>Release date</b>: {{movie.Year}} </p>
                    <button (click)="saveMoviesLocal(movie.Title, movie.Year, movie.Poster, movie.imdbID)" class="btn btn-primary btn-sm">Bookmark It</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
